#list-research
 {
    position: absolute;
    z-index: 10;
    overflow-y: auto;
    max-height: 50vh;
}

#list-research li {
    cursor: pointer;
}

#badge-crypto-selected li {
    cursor: pointer;
}