﻿@page "/crypto-value"
@inject HttpClient Http
@using System.Globalization
@using Projet_Inte_System.Api
@using Projet_Inte_System.Api.DataType
@using Projet_Inte_System.Util
@using Projet_Inte_System.Util.SplitWork
@using Projet_Inte_System.Shared

<div class="container">

    <div class="row">
        <div class="flex-column">
            <input type="text" @bind="@inputValue" @oninput="@((e) => { onChangeInputValue(e); })" class="form-control" />
            @if (listResearch.Count > 0)
            {
                <ul id="list-research" class="list-group bg-white border border-secondary rounded">
                    @foreach (DataRearsh dataRearshItem in listResearch)
                    {
                        <li class="list-group-item list-group-item-action" @onclick="(e) => addCrypto(dataRearshItem)">@dataRearshItem.Symbol - @dataRearshItem.Name</li>
                    }
                </ul>
            }
        </div>
    </div>

    @if (cryptoSelected.Count > 0)
    {
        <div class="row">
            <ul id="badge-crypto-selected">
                @foreach (DataRearsh cryptoSelectedItem in cryptoSelected)
                {
                    <li class="badge bg-primary text-light m-1" @onclick="(e) => removeCrypto(cryptoSelectedItem)">@cryptoSelectedItem.Symbol - @cryptoSelectedItem.Name</li>
                }
            </ul>
        </div>
    }

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="diplayGraphInPercent" @onchange="(e) => switchDiplayGraphInPercent()">
        <label class="form-check-label" for="diplayGraphInPercent">Afficher le graphique en %</label>
    </div>

    @if (listeDataCrypto.Count > 0)
    {
        <div class="row">
            <div class="col-sm-12 my-5">
                <RadzenChart>
                    @foreach (TimeSeriesTyped[] listeDataCryptoItem in listeDataCrypto)
                    {
                        <RadzenLineSeries Smooth="false" Data="@listeDataCryptoItem" CategoryProperty="Time" Title="@listeDataCryptoItem[0].SymbolName" LineType="LineType.Dashed" ValueProperty="@(diplayGraphInPercent ? "PercentChange" : "Close")">
                            <RadzenMarkers MarkerType="MarkerType.Circle" />
                        </RadzenLineSeries>
                    }
                    <RadzenCategoryAxis Padding="20" FormatString="{0:HH'h'mm}" Step="@interval">
                        <RadzenAxisTitle Text="Temps" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis Formatter="@FormatAxisY">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="@(diplayGraphInPercent ? "Evolution en %" : "Prix en $")" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
            <div>
                @foreach (DataRearsh listeDataCryptoItem in cryptoSelected)
                {
                    <RadzenSelectBar Multiple="false" @bind-Value="selectedItem" TValue="int">
                        <Items>
                            <RadzenSelectBarItem Text="Summary" Value="0" />
                            <RadzenSelectBarItem Text="Feeds" Value="1" />
                        </Items>
                    </RadzenSelectBar>
                    @if ( selectedItem == 0 )
                    {
                        <Description DataRearsh="@listeDataCryptoItem" />
                    }
                    @if (selectedItem == 1 )
                    {
                        <Feeds DataRearsh="@listeDataCryptoItem" />
                    }
                    
                }
            </div>
        </div>


    }

</div>

@code {

    int selectedItem = 0;

    // Gestion de l'input
    private string inputValue { get; set; } = "";
    private void setInputResearch(string value)
    {
        inputValue = value;
        Recherche.setInputSearch(inputValue);
        listResearch = Recherche.getResultSearch();
    }

    // Gestion de la liste pour la recherche
    private List<DataRearsh> listResearch { get; set; } = new List<DataRearsh>();
    private void onChangeInputValue(ChangeEventArgs e)
    {
        setInputResearch((string)e.Value);
    }

    // Gestion des crypto selectionner
    private List<DataRearsh> cryptoSelected { get; set; } = new List<DataRearsh>();
    private void addCrypto(DataRearsh crypto)
    {
        cryptoSelected.Add(crypto);
        setInputResearch("");
        loadSelectedCrypto();
    }
    private void removeCrypto(DataRearsh crypto)
    {
        cryptoSelected.Remove(crypto);
        loadSelectedCrypto();
    }

    // Gestion des data crypto
    private List<TimeSeriesTyped[]> listeDataCrypto { get; set; } = new List<TimeSeriesTyped[]>();
    private async void loadSelectedCrypto()
    {
        List<TimeSeriesTyped[]> newListeDataCrypto = new List<TimeSeriesTyped[]>();
        foreach (DataRearsh cryptoSelectedItem in cryptoSelected)
        {
            dynamic items = await Http.GetFromJsonAsync<dynamic>(Api.ApiUtil.GetApi(dataType: "assets", symbol: cryptoSelectedItem.Symbol));
            Assets assets = Api.ApiUtil.JsonToAssets(Convert.ToString(items));
            TimeSeriesTyped[] timeSeriesT = Util.ConvertToTimeSeriesTyped(assets);
            TimeSeriesOperations.CalculateData(timeSeriesT);
            newListeDataCrypto.Add(timeSeriesT);
        }
        listeDataCrypto = newListeDataCrypto;
        StateHasChanged();
    }


    // Gestion de la checkbox
    private Boolean diplayGraphInPercent = false;
    private void switchDiplayGraphInPercent()
    {
        diplayGraphInPercent = !diplayGraphInPercent;
        loadSelectedCrypto();
    }

    // Autre
    TimeSpan interval = new(2, 0, 0);

    protected override async Task OnInitializedAsync()
    {
        Recherche.setListeCrypto(await Http.GetFromJsonAsync<dynamic>("https://api.lunarcrush.com/v2?key=" + ApiUtil.APIKey + "&data=meta"));
    }

    private string FormatAxisY(object value)
    {
        string newValue = ((double)value).ToString("C3", CultureInfo.CreateSpecificCulture("en-US")).Remove(0, 1);
        if(diplayGraphInPercent)
        {
            newValue += "%";
        } else
        {
            newValue += "$";
        }
        return newValue;
    }
}