@using Projet_Inte_System.Util.SplitWork
@using Projet_Inte_System.Api
@inject HttpClient Http

@if (!loading)
{
    <div>
        <h1>@DataRearsh.Name (@DataRearsh.Symbol) <img src=@DescriptionData.Data[0].Image></h1>
        <h2>Summary : </h2>
        <p>@DescriptionData.Data[0].Description</p>
    </div>
}


@code {

    [Parameter]
    public DataRearsh DataRearsh { get; set; }

    DescriptionData DescriptionData;
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        dynamic items = await Http.GetFromJsonAsync<dynamic>(Api.ApiUtil.GetApi(dataType: "meta", symbol: DataRearsh.Symbol, type: "full"));
        DescriptionData = Api.ApiUtil.JsonToDescrptionData(Convert.ToString(items));
        loading = false;
    }
}