@using Projet_Inte_System.Util.SplitWork
@using Projet_Inte_System.Api
@inject HttpClient Http

<div>
    <h2>Feeds :</h2>
    <RadzenSelectBar Multiple="false" @bind-Value="selectedItem" TValue="int">
        <Items>
            <RadzenSelectBarItem Text="Twitter" Value="0" />
            <RadzenSelectBarItem Text="Reddit" Value="1" />
            <RadzenSelectBarItem Text="News" Value="2" />
            <RadzenSelectBarItem Text="URLS" Value="3" />
        </Items>
    </RadzenSelectBar>
    @if (loading == false)
    {
        @if (selectedItem == 0)
        {
            @if (twitterData[0].Data.Count > 0)
            {
                <p>@twitterData[0].Data[0].Body</p>
                <p><img src="@twitterData[selectedItem].Data[0].Profile_image" /> @twitterData[0].Data[0].Display_name (@@@twitterData[0].Data[0].Twitter_screen_name)  <a href="@twitterData[0].Data[0].Url">Source</a></p>
            }
        }
        @if (selectedItem == 1)
        {
            @if (twitterData[1].Data.Count > 0)
            {
                <h2>@twitterData[1].Data[0].Title</h2>
                <p>@twitterData[1].Data[0].Body</p>
                <a href="@twitterData[1].Data[0].Url">Source</a>
            }
        }
        @if (selectedItem == 2)
        {
            @if (twitterData[1].Data.Count > 0)
            {
                <h2>@twitterData[2].Data[0].Title</h2>
                <p>@twitterData[2].Data[0].Description</p>
                <img src="@twitterData[2].Data[0].Image" /><br />
                <a href="@twitterData[2].Data[0].Url">Source</a>
            }
        }
        @if (selectedItem == 3)
        {
            @if (twitterData[3].Data.Count > 0)
            {
                <h2>@twitterData[3].Data[0].Title</h2>
                <p>@twitterData[3].Data[0].Description</p>
                <img src="@twitterData[3].Data[0].Image" /><br />
                <p>@twitterData[3].Data[0].Publisher - <a href="@twitterData[3].Data[0].Url">Source</a></p>
            }
        }
    }
</div>


@code {

    [Parameter]
    public DataRearsh DataRearsh { get; set; }

    string[] values = { "twitter", "reddit", "news", "urls" };

    bool loading = true;
    int selectedItem;

    List<TwitterData> twitterData = new();

    public string selectedItemToName()
    {
        return values[selectedItem];
    }

    protected override async Task OnInitializedAsync()
    {
        for (int i = 0; i < values.Length; i++)
        {
            dynamic items = await Http.GetFromJsonAsync<dynamic>(Api.ApiUtil.GetApiFeed(dataType: "feeds", symbol: DataRearsh.Symbol, sources: values[i]));
            TwitterData datas = Api.ApiUtil.JsonToTwitterData(Convert.ToString(items));
            twitterData.Add(datas);
        }
        loading = false;
    }
}